{% extends "base.html" %}

{% block contents %}
<h1>About Mastersedder</h1>


<h2>sed - stream editor</h2>
<h3>学習用クイズサイト[予定]</h3>

<p>
<ul><li>sed [stream editor] 学習用クイズサイト[予定]</li></ul>
</p>


<h3>環境</h3>
<p>
<ul><li>GNU sed 4.2.2</li></ul>
</p>



<h3>免責事項</h3>
<p>
<ul>
<li>当サイトの作成者は、当サイトの利用によって生じたあらゆる損害に対して、一切の責任を負いません。</li>
<li>当サイトの内容は予告なしに変更されることがあります。</li>
<li>当サイトのサービスは予告なしに停止されることがあります。</li>
</ul>
</p>

<h3>コンタクト</h3>
<p>
<ul><li>jinsiben+ms[at]gmail.com</li></ul>
</p>
{% endblock contents %}
